
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initinal-scale=1.0" />
    <title>@ViewBag.Title</title>



    <link href="~/Content/lib/bootsrap/css/bootsrap.css" rel="stylesheet" />
    <link href="~/Content/CustomCss/Navbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @RenderSection("customStyles", false)

</head>
<body class="container-fluid">
    <!-- navbar-->

    <div class="row">
        <div class="col-3">
            @Html.Partial("_Navbar")
        </div>
        <div class="Icerik col-9">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 Icerik10">

                    @RenderBody()



                </div>
            </div>
        </div>
    </div>



    <!--Footer  istersen ekle-->

    <script src="~/lib/jQuery/jQuery-3.3.1.js"></script>
    <script src="~/lib/bootsrap/js/bootsrap.js"></script>
    @RenderSection("customScripts", false)



</body>
</html>